body{
	background-color:#666;
	margin:0;
	padding:0;
	font-family:arial;
}

.main-wrapper{
	width:100%;
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}


.inner-wrapper{
	width:420px;
	background-color:white;
	height:750px;
	position:relative;

}

.nav{
	height:60px;
	background-color:#bb0000;
	font-size:20px;
	display:flex;
	direction:row;
	justify-content:space-between;
	align-items:center;
	padding:0 20px;
}


.top{
	height:60px;
	font-size:18px;
	display:flex;
	direction:row;
	justify-content:space-between;
	align-items:center;
	padding:0 10px;
}

.airtel-round{
	display:inline-block;
	width:40px;
	height:40px;
	border-radius:20px;
	background-color:#ccc;
}
.center-v-item{
	display:flex;
	direction:row;
	align-items:center;
	padding:5px;
}

.video-port{
	padding:5%;
	width:90%;
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
}

.ad{
	display:inline-block;
	position:absolute;
	bottom:20px;
	right:20px;
	margin:0;
}
.ad-time{
	background-color:rgba(0,0,0,.5);
	color:white;
	padding:5px;
	margin:0;
	border:1px solid #999;
}
.ad-yellow{
	background-color:orange;
	color:white;
	padding:5px;
	border:1px solid #999;
	border-right:0;
}


.little-header{
	color:#666;
	font-weight:bold;
	font-size:15px;
}
.sub-little-header{
	color:#aaa;
	font-size:13px
}
.ellipsis-right{
	color:#aaa;
	float:right;
}

.recommended{
	padding:15px;
}

.rec-vid{
	display:flex;width:90%;
	height:80px;
}

.vid-icon-wrapper{
	width:150px;
	position:relative;
}



.rec-vid img{
	width:150px;
}

.vid-time{
	background-color:rgba(0,0,0,.5);
	color:white;
	position:absolute;
	font-size:12px;
	right:10px;
	bottom:10px;
}

.option-menu{
	width:50%;
	position:absolute;
	right:10px;
	top:10px;
	padding-left:20px;
	border-radius:1px;
	box-shadow:0px 3px 6px #000;
	background-color:#ededed;
	z-index:1;
}

.option-menu>div{
	margin:20px 0;
	font-weight:bold;
	color:#444;
}

.left-nav-wrapper{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:rgba(0,0,0,.2);
	z-index:2;
}
.left-nav>*{
	padding:0 3%;
}
.left-nav{
	position:absolute;
	width:350px;
	top:0;
	left:0;
	bottom:0;
	background-color:#fdfdfd;

}

.user-wrapper{
	width:100%;
	height:200px;
	background:url('bg1.jpg') no-repeat center center fixed;
	background-size:cover;
}

.nav-left>div{
	margin:20px 0;

}
.nav-left{
	width:94%;
	font-size:16px;
	font-weight:500;
	color:#999;
	padding:5px 3%;
	border-bottom:1px solid #ccc;
}


.next{
	color:white;position:fixed;top:40%;color:white;font-size:30px;right:20px;
}
.prev{
	color:white;position:fixed;top:40%;color:white;font-size:30px;left:20px;
}

.install-wrapper{
	padding:30px;
	background-color:white;
	 color:#aaa;
	 text-align:center;
	 font-size:18px;
	 min-height:80%;
	 position:relative;
}

.bottom-box{
	position:absolute;
	bottom:10px;
	left:0;
	right:0;
	height:70px;
}

.install-wrapper button{
	padding:15px;
	color:white;
	border:0;
	background-color:#41bae7;
}

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
